<div class="servicesCont">
  <div class="caption">
    <div class="lines left"></div>
    <p>УСЛУГИ</p>
    <div class="lines right"></div>
  </div>
  <div class="services">
    <div class="service">
      <img src="" alt="" class="service1">
      <p>РЕПОРТАЖНАЯ СЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service2">
      <p>ПОРТРЕТНАЯ СЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service3">
      <p>ИНДИВИДУАЛЬНАЯ СЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service4">
      <p>РЕКЛАМНАЯ СЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service5">
      <p>LOVE STORY</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service6">
      <p>ФОТОСЕССИЯ В СТИЛЕ НЮ</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service7">
      <p>СТУДИЙНЫЕ ФОТОСЬЕМКИ</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service8">
      <p>ДЕТСКАЯ ФОТОСЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service9">
      <p>ФОТОСЕССИЯ ОБРАЗ</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service10">
      <p>NEWBORN ФОТОСЬЕМКА</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service11">
      <p>MODEL PHOTO</p>
    </div>
    <div class="service">
      <img src="" alt="" class="service12">
      <p>WEDDING IN EUROPE</p>
    </div>
  </div>
</div>
